/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body{
  font-family:arial;



}
body > div > header{
  background-color: #ff8523;
  padding: 30px;

}
#logo img{
  margin-bottom: 20px;
}

.main_navigation a{
  font-size: 14px;
  font-family: arial;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  border-color:  #fff;
  display:inline;
  font-weight: bold;
  color: white;
  background-color: #ff8523;
}

#page_content{
  padding:10px;
}

h2{
  font-size: 30px;
  color: #1fabe5;
  background-color: #fff;
}
h3{
  color:#1fabe5;
}
ul{
  font-weight: bold;
  border-bottom-width: medium;
  border-bottom-color: grey;
  border-bottom-style: solid;
  padding-bottom: 50px;
}



p a{
  color:#1fabe5;
}

thead > tr >td{
  color:white;
  background-color: #1fabe5;


}

tbody > tr > td{


}

td{
  border: 2px solid #1fabe5;
}
table{
  border-collapse: collapse;
  border-bottom-color: : grey;
  border-width:thin;

}

form{
  background-color: #dddddd;
}
.name{
  background-color: #ff8532;
  text-align: center;
  color: white;
  font-weight: bold;

  padding: 20px;
}
.city_container{
  background-color: #dddddd;
  padding:10px;
  margin: 30px;


}
.submit_container{
  background-color: #dddddd;
  margin: 30px;
}
